*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../image/indexBack.jpg);
  font-family: FangSong_GB2312;
}

html,body,.wrapper{
  height: 100%;
}
.wrapper{
  width: 80%;
  background-color: rgba(158, 154, 154, 0.8);
  margin: 0 auto;
}
.wrapper ul li.author{
  margin-left: 50%;
  margin-top: 10px;
}
.search{
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}